/**
 * Styles global file
 */
@import "./variables.less";

body {
  #gradient > .vertical(@color-aqua; @color-light-cyan);
}

.sets-section {
  float: left;
  padding-top: 20px;
  height: 500px;
}
.main-section {
  float: right;
  height: 500px;
}
