/**
 * Styles global file
 */
@import "./variables.less";

body {
  background-color: @color-black;

  .container {
    margin-top: @navbar-height;
  }
}

@font-face {
  font-family: "OpenSans";
  src: url('@{font-path}OpenSans-Regular-webfont.woff') format('woff'), url('@{font-path}OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Stalemate";
  src: url('@{font-path}Stalemate-Regular.ttf') format('truetype');
}

.sets-section {
  float: left;
  padding-top: 20px;
  height: 100%;
  color: white;

  .sets {
    height: 100%;
    width: 100%;
    list-style-type: none;

    > .set {
      cursor: pointer;
      height: 100%;

      > .year {
        display: inline-block;
        font-family: @font-family-open-sans;
        font-size: 12px;
      }

      > .counter {
        float: right;
        font-family: @font-family-open-sans;
        font-size: 8px;
      }

      > .item {
        margin-left: 5px;

        &:hover {
          background-color: fade(white, 50%)
        }

        > .name {
          font-family: @font-family-open-sans;
          font-size: 10px;
        }
      }
    }
  }
}

.main-section {
  float: right;
  height: 100%;

  > .main {

    > .set-cards-container {
      height: 100%;
      width: 100%;
      padding: 2px;

      .item-card {
        display: inline-block;

        img {
          border-radius: 2px;
          width: 66px;
          height: 91px;
        }

        &:hover {
          z-index: 100;
          -webkit-transform:scale(@image-scale-hover);
          -moz-transform:scale(@image-scale-hover);
          -ms-transform:scale(@image-scale-hover);
          -o-transform:scale(@image-scale-hover);
          transform:scale(@image-scale-hover);
        }
      }
    }
  }
}

.card {
  /* @TODO: include image of spiner in repo */
  background: transparent url("https://www.yugma.com/images/loading-animation-7.gif") no-repeat center center;

  .loaded{
    background: none;
  }

  img{
    border-radius: 20px;
    border: 1px solid #ddd;
    vertical-align: middle;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  }
}

nav {
  height: @navbar-height;
  background-color: @color-navbar !important;
  border: none !important;
  z-index: 10 !important;

  .title {
    color: green;
    font-family: @font-familiy-stalemate;
    font-size: 45px;
    line-height: 66px;
    padding-left: 20px;
  }
}
